{% extends 'base.html' %}
{% load static %}
{% block title %}体重&给药{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
       <!-- fullCalendar -->
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/fullcalendar/dist/fullcalendar.min.css' %}">
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/fullcalendar/dist/fullcalendar.print.min.css' %}" media="print">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
          体重&给药
        <small>PABW_list</small>
      </h1>
    </section>
{% endblock %}

{% block content %}

  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <div class="box-header with-border">
    
        <h3 class="box-title">推荐给药量参考</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-2">
            <form action="search" method="GET" class="form-group">
                <label>&nbsp&nbsp专题编号</label>
                <select class="form-control select2" name="q" id="studyno" multiple="multiple" data-placeholder="输入专题编号搜索" style="width: 100%;">
                </select>
                <span class="input-group-btn">
                  <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"> 查询</i>
                  </button>
                </span>
            </form>
            <!-- /.form-group -->
          </div>
          {% if testdata %}
          <table border="1" class="table  table-responsive" style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
              <thead>
                  <tr>
                      <th>专题编号</th>
                      <th>体重汇总(kg)</th>
                      <th>配制体积汇总(ml)</th>
                  </tr>
              </thead>
              <tbody>
              <tr>
                  <td>{{ testdata.studyno }}</td>
                  <td>{{ testdata.KGSum }}</td>                  
                  <td>{{ testdata.MLSum }}</td>
              </tr>
              </tbody>
          </table>
          {% endif %}
          <!-- /.col -->
        </div>
        <div class="box-body" style="overflow-x:auto; white-space:nowrap">
          <table id="assets_table" class="table table-bordered table-striped table-hover"></table>
        </div>
        <!-- /.box-header -->
        {% if error %}
        <div class="col-md-3">
          <div class="box">
            <div class="box-header">
                <li class="active">{{ error|safe }}</li>
            </div>
          </div>
        </div>
        {% endif %}
          <div class="callout callout-info" style="width: 100%;">
            <h4>Tip!</h4>
            <p>适用于申请依据最近一次体重给药申请. 或者查询体重详情.
            </p>
          </div>
        <!-- /.col -->
      </div>
    </div>
    {% if BWd %}
    <div class="box box-default">
          <div class="box-header with-border">
        
            <h3 class="box-title">最近一次称重体重详情</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="box-body" style="overflow-x:auto; white-space:nowrap">
              <table id="BW_table" class="table table-bordered table-striped"></table>
            </div>
            <!-- /.col -->
          </div>
    </div>
    {% endif %}
  </section>

{% endblock %}

{% block script %}

<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- fullCalendar -->
<script src="{% static 'adminlet-2.4.10/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/fullcalendar/dist/locale/zh-cn.js' %}"></script>

<script>
  $(function () {
    //Date range picker 时间选择
    $('#reservation').daterangepicker(
      {
        autoUpdateInput: true,  //填充时间
        startDate: moment(),  //开始时间
        endDate  : moment().subtract(-7, 'days'),  // 填充的结束时间
        fromLabel: "开始时间",
        toLabel: "结束时间",
        locale:
        {
          format: 'YYYY-MM-DD',
          applyLabel: '确定', //确定按钮文本
          cancelLabel: '取消', //取消按钮文本
          daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
          monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
            '七月', '八月', '九月', '十月', '十一月', '十二月'
          ],
        }
      });
  });
</script>
<!-- select2 -->
<script>
var studylist = {{ studyno|safe }};

$(function () {
  $('#studyno').select2({
    data: studylist,
  });
});
</script>
<!-- assets_table_Datatable -->
<script>
var dataSet = {{ PAd|safe }};
var columns = {{ PAtitle|safe }};

$(function () {
        $('#assets_table').DataTable({
          "data": dataSet,
          "columns": columns,
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false,   <!-- 固定宽度 -->
          <!--"scrollX": true,      <!-- 超长列滚动 -->-->
          "fixedColumns":{ 
          "leftColumns": 2,
          "rightColumns": 1
                           },   <!-- 这个是用来固定列的 -->
          "lengthMenu": [ [5, 10, 25, -1], [5, 10, 25, "所有"] ], <!-- 显示数量菜单 -->
          "displayLength": 10,   <!-- 默认显示数量 -->
          "language": {
            "search": "当前列表搜索:",
            "searchPlaceholder": "请输入要搜索内容...",
            "pagingType": 'full',
            "processing": "处理中...",
	          "lengthMenu": "显示 _MENU_ 项结果",
	          "zeroRecords": "没有找到相应的结果",
	          "info": "第 _START_ 至 _END_ 行，共 _TOTAL_ 行",
	          "infoEmpty": "第 0 至 0 项结果，共 0 项",
	          "infoFiltered": "(由 _MAX_ 项结果过滤)",
            "paginate": {
    	        "first": "首页",
              "previous": "上一页",
              "next": "下一页",
              "last": "末尾页"
           }
          }
        });
      });
</script>
<script>
    var BWdataSet = {{ BWd|safe }};
    var BWcolumns = {{ BWtitle|safe }};
    
    $(function () {
            $('#BW_table').DataTable({
              "data": BWdataSet,
              "columns": BWcolumns,
              "paging": true,       <!-- 允许分页 -->
              "lengthChange": true, <!-- 允许改变每页显示的行数 -->
              "searching": true,    <!-- 允许内容搜索 -->
              "ordering": true,     <!-- 允许排序 -->
              "info": true,         <!-- 显示信息 -->
              "autoWidth": false,   <!-- 固定宽度 -->
              <!--"scrollX": true,      <!-- 超长列滚动 -->-->
              "fixedColumns":{ 
              "leftColumns": 2,
              "rightColumns": 1
                               },   <!-- 这个是用来固定列的 -->
              "lengthMenu": [ [5, 10, 25, -1], [5, 10, 25, "所有"] ], <!-- 显示数量菜单 -->
              "displayLength": 10,   <!-- 默认显示数量 -->
              "language": {
                "search": "当前列表搜索:",
                "searchPlaceholder": "请输入要搜索内容...",
                "pagingType": 'full',
                "processing": "处理中...",
                "lengthMenu": "显示 _MENU_ 项结果",
                "zeroRecords": "没有找到相应的结果",
                "info": "第 _START_ 至 _END_ 行，共 _TOTAL_ 行",
                "infoEmpty": "第 0 至 0 项结果，共 0 项",
                "infoFiltered": "(由 _MAX_ 项结果过滤)",
                "paginate": {
                  "first": "首页",
                  "previous": "上一页",
                  "next": "下一页",
                  "last": "末尾页"
               }
              }
            });
          });
</script>

{% endblock %}
